{% extends 'base.html' %}

{% block main %}

<div class="container mt-5">
    <h3 class="mb-4">My Cart</h3>

    {% if items %}
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>₹{{ item.product.selling_price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>₹{{ item.total_price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h4 class="text-end">Total: ₹{{ total }}</h4>

    {% else %}
        <p>No items in cart</p>
    {% endif %}
</div>

{% endblock %}